import(gplots, igraph, Matrix, psych, snow, stringr)

export(
	disease.subgraph,
	distance.rwr,
	expression.transform,
	gene.set.compactness,
	gene.set.overexpression,
	plot.dct,
	project.network,
	project.network.legend,
	score.edges
)